#naglowek{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}


#naglowek h1{
    color: rgb(222, 66, 66);
    text-deoration:underline;
}

#baner {
    background-image: url('https://picsum.photos/1200/300?random=1')
    background-size: cover;
    background-position: center;
    
}